* {
    box-sizing: border-box;
}

.inputBtn {
    background-color: #525252;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.saveBtn{
    width: 10%;
    background-color: #20abff;
    position: fixed;
    bottom:   5%;
    right: 12%;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

.row{
margin: 0 10% 0 10%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*THE SELECTBOX*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #525252;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    background: #525252;
    overflow: hidden;
    border-radius: 4px;
}
select {
    flex: 1;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #585858;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #20abff;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}