.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc!important;
    box-shadow: 1px 2px #888888;
    text-align: left;
}

.list li{
   padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.list li:hover{
    background-color: #dddddd;
    cursor: pointer;
}